
a{cursor:crosshair;}
a, #header{
 color: white;
    text-align: center;
    font-family: "ZX Spectrum";
    text-transform: uppercase;}

	
	
html{
   


}
 
body {
	
	background-color: black;

}

#images {
	
	position:relative; width:100%
}
.container{
    width:100%;height:70%;margin:auto;overflow:hidden
}

#zero{
    margin-right:25px;
}
#one {
margin-left:25px;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}

.picn {
    vertical-align: middle;
    display: inline-block;
    width:100vh;
	
}


#header { width: 100%;    height: 10%;}

#footer div{
    text-align: left;
    width: 50%;
	display:block;
}
.helper {
    display: inline-block;
    /*height: 25%;*/
    vertical-align: middle;}
	#container1{width:90%; margin:auto;/*object-fit: contain*/ padding-top:90%; position:relative}

#container{/*object-fit: contain*/ 	/*width: 80vw;
    height: 80vh;*/position: relative;
  top: 48%;
  transform: translateY(-50%);}
#controls{width:93%; margin:auto;margin-top:10px;}

#left{float:left;width:49%;text-align:left; }
#right{float:right;width:49%;text-align:right; }
#center{margin:0 auto;width:1%;}

.picn, .pic2n {
    vertical-align: middle;
    display: inline-block;
width:100vh;
	
}

.audio{
	    position: absolute;
    left: 3%;
    bottom: 1%;
    z-index: 5;
    width: 6%;
    float: left;
}






.fade {
visibility: hidden;
                       opacity: 0;
                       transition: visibility 0s .5s, opacity .5s linear;	
   }



.hidden {display:none;}


#controls{    padding-left: 4%;
}

#header{}

/* Portrait */
@media screen and (orientation:portrait) {
	
	#images {
	
	height:38%;
}

	#header{    font-size: 1rem; margin:auto;padding-left:4%; height:13%
}
a{font-size: 1.2rem;}
.pic, .pic2 {

    width:100%;
	
	
}


.audio{

    bottom: -15%;

}

html {font-size: 2.5em;}
}
/* Landscape */
@media screen and (orientation:landscape) {
	#images {
	
	height:75%;
}

		#header{    font-size: 2rem;padding-top:3%; width:97%; margin:auto;height:19%; padding-left:2%;
}
a{font-size: 3rem;}
.audio{

    bottom: 1%;

}

.pic, .pic2{

    width:100vh;
	
}
}


